html{box-sizing: border-box;}

@font-face
{
	font-family: litsans;
	src: url(../fonts/LitSans-Medium.otf);
}

body{
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	font-family: litsans;
	position: relative;
}
*,*:before,*after{
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.grid{
	width: 100%;
	max-width: 100%;
	margin: 0;
}

.grid:before, .grid:after,
.row:before, .row:after{
	display: table;
	content: "";
}

.gird:after, .row:after{
	clear: both;
}

[class*='col-']{
	width: 100%;
	float: left;
	min-height: 1px;
}

.col{
	padding: 0.2em;
	margin: 3px;
}

@media screen and (min-width: 320px){
	.col-sm-1{width: 8.33%}
	.col-sm-2{width: 16.66%}
	.col-sm-3{width: 25%}
	.col-sm-4{width: 33.33%}
	.col-sm-5{width: 41.66%}
	.col-sm-6{width: 50%}
	.col-sm-7{width: 58.33%}
	.col-sm-8{width: 66.66%}
	.col-sm-9{width: 75%}
	.col-sm-10{width: 83.33%}
	.col-sm-11{width: 91.66%}
	.col-sm-12{width: 100%}
}
@media screen and (min-width: 640px){
	.col-md-1{width: 8.33%}
	.col-md-2{width: 16.66%}
	.col-md-3{width: 25%}
	.col-md-4{width: 33.33%}
	.col-md-5{width: 41.66%}
	.col-md-6{width: 50%}
	.col-md-7{width: 58.33%}
	.col-md-8{width: 66.66%}
	.col-md-9{width: 75%}
	.col-md-10{width: 83.33%}
	.col-md-11{width: 91.66%}
	.col-md-12{width: 100%}
}
@media screen and (min-width: 960px){
	.col-lg-1{width: 8.33%}
	.col-lg-2{width: 16.66%}
	.col-lg-3{width: 25%}
	.col-lg-4{width: 33.33%}
	.col-lg-5{width: 41.66%}
	.col-lg-6{width: 50%}
	.col-lg-7{width: 58.33%}
	.col-lg-8{width: 66.66%}
	.col-lg-9{width: 75%}
	.col-lg-10{width: 83.33%}
	.col-lg-11{width: 91.66%}
	.col-lg-12{width: 100%}
}

.bg-header{
	margin: 0;
	padding: 0;
}
.bg-menu {
	background-color: transparent;
	height: 85px;
	overflow: hidden;
	position: fixed;
	z-index: 99;
	width: 100%;
	transition: 0.5s ease;
}

ul.menu-kiri, ul.menu-tengah, ul.menu-kanan {
	list-style-type: none;
	overflow: hidden;
	line-height: 50px;
}

ul.menu-kiri{
	padding-left: 25px;
}

ul.menu-kanan{
	padding-right: 25px;
}

ul.menu-kiri li {
	float: left;

}

ul.menu-kanan li {
	float: right;
}

ul.menu-kiri li a, ul.menu-kanan li a{
	padding: 20px 25px;
	padding-bottom: 10px !important;
	display: inline-block;
	text-decoration: none;
	color: white;
	transition: 0.2s ease;
}

.top-logo{
	width: 50px;
	height: 50px;
	background: url('../img/31.png');
	margin-top: 20px;
	background-size: cover;
	margin: 20px auto;
}

.menu-tengah p{
	padding: 0 25px;
	text-align: center;
}

.menu-tengah img{
	width: 100%;
	margin-top: 20px;
}

.garis
{
	width: 0%;
	height: 3px;
	margin: 0px auto;
	margin-top: -15px;
	background: #000;
	transition: 0.5s ease;
}



ul li:hover .garis{
	width: 60%;
}

@media screen and (max-width: 920px){
	ul.menu-kiri, ul.menu-kanan{
		display: none;
	}
	.menu-tengah{
		left: 0;
		position: absolute;
	}

	#MenuIcon{
		display: block !important;
		height: 25px;
		width: 50px;
		position: absolute;
		z-index: 100;
		right: 30px;
		top: 30px;
	}

	.top-logo{
		margin-left: 25px;
	}


}


#MenuIcon{
	height: 25px;
	width: 50px;
	position: fixed;
	top: 30px;
	right: 30px;
	display: none;
}

#MenuIcon:hover{
	cursor: pointer;
}

#MenuLine{
	height: 4px;
	width: 25px;
	background-color: #000;
	position: absolute;
	top: 50%;
	left: 75%;
	transform: translate(-50%,-50%);
	transition: all .3s;
}

#MenuIcon:hover #MenuLine{
	width: 40px;
	left: 60%;
}

#MenuLine1{
	content: '';
	height: 4px; 
	width: 35px;
	background-color: #000;
	position: absolute;
	margin-top: 20px;
	transition: all .3s;
	right: 0;
}

#MenuIcon:hover #MenuLine1{
	width: 40px;
}


#MenuLine2{
	content: '';
	height: 4px;
	width: 35px;
	background-color: #000;
	position: absolute;
	margin-top: 1px;
	transition: all .3s;
	right: 0;
}

#MenuIcon:hover #MenuLine2{
	width: 40px;
}

#MainMenu{
	height: 100vh;
	width: 300px;
	background-color: #181818;
	-webkit-clip-path:polygon(0 0,100% 0 ,0% 100%, 0% 100%);
	position: fixed;
	top: 0;
	left: -300px;
	transition: all .5s ease-in-out;
	z-index: 100;
}

#MainMenu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

#MainMenu ul li{
	margin-top: 30px;
}

#MainMenu ul li:hover{
	cursor: pointer;
}

.line{
	height: 2px;
	width: 150px;
	background-color: #fff;
	margin-top: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	transition: all .3s;
}

#MainMenu ul li:hover .line{
	width: 180px;
}

#logo{
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
}

#close{
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translate(-50%);
	cursor: pointer;
}

#close i{
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	padding: 10px 12px;
}