@font-face
{
	font-family: opensans;
	src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face
{
	font-family: lily;
	src: url(../fonts/LilyOfTheValley.ttf);
}

@font-face {
	font-family: litsans;
	src: url(../fonts/LitSans-Medium.otf);
}

@font-face{
    font-family: montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: loveloline;
    src: url(../fonts/Lovelo-Line.otf);
}

@font-face{
    font-family: bigjohn;
    src: url(../fonts/Big-John.otf);
}

@font-face{
    font-family: lovelo;
    src: url(../fonts/Lovelo-Black.otf);
}

body
{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

::selection{
	background: #000;
}

html
{
	box-sizing: border-box;
}

*,*:before,*:after
{
    box-sizing: inherit;
    margin: 0 auto;
    padding: 0;
}

.grid
{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.grid:after, .grid:before,
.row:after, .row:before
{
	content: "";
	display: table;
}

.grid:after, .row:after {clear: both;}

[class*="col-"]
{
	width: 100%;
	min-height: 1px;
    float: left;
}

@media screen and (min-width:320px)
{
	.col-sm-1 {width: 8.33%;}
	.col-sm-2 {width: 16.66%;}
	.col-sm-3 {width: 25%;}
	.col-sm-4 {width: 33.33%;}
	.col-sm-5 {width: 41.66%;}
	.col-sm-6 {width: 50%;}
	.col-sm-7 {width: 58.33%;}
	.col-sm-8 {width: 66.66%;}
	.col-sm-9 {width: 75%;}
	.col-sm-10 {width: 83.33%;}
	.col-sm-11 {width: 91.66%;}
	.col-sm-12 {width: 100%;}
}

@media screen and (min-width:640px)
{
	.col-md-1 {width: 8.33%;}
	.col-md-2 {width: 16.66%;}
	.col-md-3 {width: 25%;}
	.col-md-4 {width: 33.33%;}
	.col-md-5 {width: 41.66%;}
	.col-md-6 {width: 50%;}
	.col-md-7 {width: 58.33%;}
	.col-md-8 {width: 66.66%;}
	.col-md-9 {width: 75%;}
	.col-md-10 {width: 83.33%;}
	.col-md-11 {width: 91.66%;}
	.col-md-12 {width: 100%;}
}

@media screen and (min-width:960px)
{
	.col-lg-1 {width: 8.33%;}
	.col-lg-2 {width: 16.66%;}
	.col-lg-3 {width: 25%;}
	.col-lg-4 {width: 33.33%;}
	.col-lg-5 {width: 41.66%;}
	.col-lg-6 {width: 50%;}
	.col-lg-7 {width: 58.33%;}
	.col-lg-8 {width: 66.66%;}
	.col-lg-9 {width: 75%;}
	.col-lg-10 {width: 83.33%;}
	.col-lg-11 {width: 91.66%;}
	.col-lg-12 {width: 100%;}
}

.wrapper
{
	position: relative;
	width: 100%;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.max-content{
	width: 90%;
	max-width: 90%;
}
.bg-banner{
	width: 100%;
	height: 100vh;
	background-color: #FFFFFF;
}
.banner{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
}
.banner .img{
	padding: 50px;
	margin-top: 20%;
}
.banner .img img{
	width: 100%;
}
.banner .form{
	padding: 50px;
	margin: 0 auto;
}
.banner .form h1{
	font-family: litsans;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #FFD300;
}
.banner .form h2{
	font-family: montserrat;
	padding-left: 20px;
	font-size: 20px;
	margin-bottom:20px;
}
.form-control{
	text-align:center;
	margin-top: 15px;
}
.form-control label{
	text-align:left !important;
	display:block;
	padding:10px 20px;
	font-family: montserrat;
	font-weight: 600;
	color: #818181;
	letter-spacing: 1.5px;
}
.banner .form input{
	width: 95%;
	padding: 15px 25px;
	outline: none;
	border: 3px solid #F7D13B;
	border-radius: 5px;
	color: #F7D13B;
	font-family: opensans;
	font-weight: 600;
	letter-spacing: 2px;
}
.banner .form input::placeholder{
	color: #F7D13B;
	font-family: opensans;
	font-weight: 600;
	letter-spacing: 2px;
}

.form form a{
	width: auto;
	height: 45px;
}

.banner button
{
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #F7F9F9;
    background-color: #F7D13B;
    padding: 12px 40px;
    border-radius: 30px;
    letter-spacing: 2px;
    border: 2px solid #F7D13B;
    float: left;
    cursor: pointer;
    margin-left: 10px;
    font-family: montserrat;
    font-weight: 600;
}

.banner hr{
	width: 80%;
	margin: 40px auto 15px auto;
	border: 1px solid #EAEAEA;
}

.txt-register{
	text-align: center;
	color: #818181;
	font-family: montserrat;
}

.txt-register a{
	color: #FFD300;
	text-decoration: none;
	font-weight: bolder;
	border-bottom: 2px solid #FFD300;
}

.banner a button span
{
    overflow: hidden;
    opacity: 0;
    margin-left: -10px;
    transition: .3s;
}

.banner a button:hover span
{
    opacity: 1;
    margin-left: 10px;
}
.to-login{
	font-family: montserrat;
	color: #818181;
	font-size: 18px;
	margin-top: 30px;
	margin-left: 30px;
	display: inline-block;
}
.to-login a{
	color: #FFD300;
	font-weight: bold;
	border-bottom: 2px solid #FFD300;
	text-decoration: none;
}
.back a
{
    position: relative;
    top: 20px;
    text-decoration: none;
    color: #FFF;
    background-color: #FFD300;
    padding: 5px 10px;
    border-radius: 30px;
    border: 2px solid #FFD300;
    z-index: 3;
    margin: 10px;
}

.back a span
{
    overflow: hidden;
    opacity: 0;
    margin-left: -110px;
    transition: .3s;
    font-family: montserrat;
}

.back a:hover span
{
    opacity: 1;
    margin-left: 10px;
}